
.toolbar {
  display: flex;
  justify-content: center;
}

.toolbar-content {
  justify-content: space-between;
  width: 80%;
  max-width: 1024px;
  display: flex;
}

.logo-img {

  width: 200px;

}

.left-header-nav {

}
